<form action="/comment_add" method="post">
<table>
	<tr><td>Comment Title</td><td><input name="comment_title" type="text" size="10"></td></tr>
	<tr><td>Comment</td><td><textarea name="comment" type="text" size="20"></textarea></td></tr>
	<tr><td>Created By</td><td><input name="created_by" type="text" size="15"></td></tr>
</table>

<input type="submit" value="Save">
</form>